@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --radial-gradient-background: 250, 0, 250;
    --solid-color-background: 28, 28, 28;
    --overlay-color: 62, 207, 142;
    /* 62, 207, 142 */
  }
  
  body {
    @apply bg-neutral-950;
  }